    <!-- INICIO HEADER -->
    <header>
        <nav class="principalNav">
            <div class="logo">
                <a href="/index"><img class="logoVvape"src="/images/navlogo2.png" alt="logo"></a>
            </div>
                <ul class="navtitles">
                    <li class="navtitles-access"><i class="fas fa-user-circle"></i><a href="#">Acceso</a></li>
                    <li><i class="fa-solid fa-fire-flame-curved"></i><a href="/productindex">Productos</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a href="/shoppingcart">Carrito</a></li>
                </ul>
            <i id="burger"class="fa-solid fa-bars navicon"></i>
        </nav>
    </header>
    <!-- FINAL HEADER -->