<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENTHOL ORIGINAL</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/nav-foot.css">
    <script src="https://kit.fontawesome.com/3a5c03d4d2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bf896e772d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- INICIO HEADER -->
    <header>
        <nav class="principalNav">
            <div class="logo">
                <a href="/index"><img class="logoVvape"src="/images/navlogo2.png" alt="logo"></a>
            </div>
                <ul class="navtitles">
                    <li class="navtitles-access"><i class="fas fa-user-circle"></i><a href="login">Acceso</a></li>
                    <li><i class="fa-solid fa-fire-flame-curved"></i><a href="/productindex">Productos</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a href="/shoppingcart">Carrito</a></li>
                </ul>
            <i id="burger"class="fa-solid fa-bars navicon"></i>
        </nav>
    </header>
    <!-- FINAL HEADER -->
    <!-- INICIO MAIN -->
    <main>
                 
                <div class="card">
                        <h4 class="productname"> MENTHOL ORIGINAL </h4>
                <div class="notitle">
                    <section class="noenvio"> 
             <div class="picture"> <img src="/images/esencia-1.jpg" alt="esencia1"></div>
                <div class="cardinfo">
                    
                    <div class="det">
                        
                    <h2 class="detalles">VER DETALLES</h2><br>
                        <br>
                    <p class="description"> 
                        
                        Con su batería de 1200 mAh y potencia de hasta 45w, y resistencias optimizadas es capaz de darnos una autonomía más que suficiente para todo el día, además la marca nos sorprende con un llenado de líquido con un facilísimo acceso y tanque de 2 ml, el dispositivo es capaz de darnos caladas tipo MTL o DL gracias a su regulación superior con un maravilloso sabor y golpe.<br>    
                        <br>
                     <em>**Producto exclusivo para mayores de edad, se usa con esencias que pueden contener nicotina, la cual es adictiva.</em></p>
                    </div>
                    <div class="containerP">
                        <div class="controlForm">
                        <label class="cantidad">CANTIDAD:</label>
                        <select name="cantidad" class="control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="3">4</option>
                            <option value="3">5</option>
                        </select>
                        <!-- <input class="control" type="number" value="1" /> -->
                        </div>
                    <div class="info">
                    <p class="precio"> $35.500 </p>
                    <a class="carrito" href="/shoppingcart"><input class="carrito" type="submit" href="/shoppingcart" value="IR A COMPRAR"></a>
                    </div>
                    </div>
                </div>    </section>
                        <div class="envios">
                            <H4 class="tituloenvios"> <i id="truck"class="fas fa-truck"></i> ENVÍO ESTÁNDAR NACIONAL </H4>
                         <p class="gratis">Envío GRATIS en todas las órdenes superiores a $200.000. Los costos de envío se basan en el peso del paquete.</p>
                            <p class="dias" >Servicio de entrega en todo Colombia. Todos los pedidos de Lunes a Viernes antes de las 2:00 p.m. y Sábados antes de las 11:00 a.m. serán despachados el mismo día.<br> </p>
                            <p class="condiciones"> *Aplica en órdenes de Lunes a Sábado. Órdenes colocadas Domingos y festivos serán procesadas el siguiente día hábil.
                                **Órdenes con entrega en áreas de difícil acceso, podrían tomar más tiempo de lo estimado.
                            </p>
                        </div>
                    
                    </div>
            </div>

        </main>
       <!-- FIN MAIN --> 
      <!-- INICIO FOOTER -->
   <footer>
    <ul class="footTitles">
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Digital House 2022</a></li>
        <li><a href="#">VVAPE - DH</a></li>
    </ul>
</footer>
<!-- FINAL FOOTER -->    
            
</body>
</html>