<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="/css/product.css">
    <title>MENTHOL ORIGINAL</title>
</head>
<body>
    <%- include('./partials/nav') %> 
    <!-- INICIO MAIN -->
    <main>
                 
                <div class="card">
                        <h4 class="productname"> MENTHOL ORIGINAL </h4>
                <div class="notitle">
                    <section class="noenvio"> 
             <div class="picture"> <img src="/images/esencia-1.jpg" alt="esencia1"></div>
                <div class="cardinfo">
                    
                    <div class="det">
                        
                    <h2 class="detalles">VER DETALLES</h2><br>
                        <br>
                    <p class="description"> 
                        
                        Esa menta helada como siempre quisiste. Puedes estar seguro: este sabor no puede faltar en tus actividades. Sabor natural con un toque escalofriante para darle ese plus a tus días.<br>    
                        <br>
                     <em>**Producto exclusivo para mayores de edad, se usa con esencias que pueden contener nicotina, la cual es adictiva.</em></p>
                    </div>
                    <div class="containerP">
                        <div class="controlForm">
                        <label class="cantidad">CANTIDAD:</label>
                        <select name="cantidad" class="control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="3">4</option>
                            <option value="3">5</option>
                        </select>
                        <!-- <input class="control" type="number" value="1" /> -->
                        </div>
                    <div class="info">
                    <p class="precio"> $35.500 </p>
                    <a class="carrito" href="/shoppingcart"><input class="carrito" type="submit" href="/shoppingcart" value="IR A COMPRAR"></a>
                    </div>
                    </div>
                </div>    </section>
                        <div class="envios">
                            <H4 class="tituloenvios"> <i id="truck"class="fas fa-truck"></i> ENVÍO ESTÁNDAR NACIONAL </H4>
                         <p class="gratis">Envío GRATIS en todas las órdenes superiores a $200.000. Los costos de envío se basan en el peso del paquete.</p>
                            <p class="dias" >Servicio de entrega en todo Colombia. Todos los pedidos de Lunes a Viernes antes de las 2:00 p.m. y Sábados antes de las 11:00 a.m. serán despachados el mismo día.<br> </p>
                            <p class="condiciones"> *Aplica en órdenes de Lunes a Sábado. Órdenes colocadas Domingos y festivos serán procesadas el siguiente día hábil.
                                **Órdenes con entrega en áreas de difícil acceso, podrían tomar más tiempo de lo estimado.
                            </p>
                        </div>
                    
                    </div>
            </div>

    </main>
        <!-- FIN MAIN --> 
    <%- include('./partials/footer') %> 
</body>
</html>