<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main class="formLogin">
        <div class="principalForm">
        <fieldset>
        <form action="login.html" method="post">
            <p class="formTitle">
                ¡BIENVENIDO DE NUEVO!
            </p>
            <div class="flexForm">
            <p>
                <label for="email">Email o Usuario:</label>
            </p>
            <input type="email" id="nombre" name="email" required autocomplete="on">
            <p>
                <label for="password">Contraseña:</label>
            </p>
            <input type="password" id="nombre" name="password" required autocomplete="on">
            <div class="remindUserC">Recordarme<input type="checkbox" name="remindUser" id="remindUser"></div>
            <p> <a id="formA" href="#"> ¿Olvidaste tu contraseña?  </a></p>
            </div>
            <a class="loginBtn" href="/shoppingcart"><input class="loginBtn" type="submit" href="/shoppingcart" value="INGRESAR"></a>
        </form>
            <p class="formTitle2">
                ¿NO ESTÁS REGISTRADO?
            <p>
                <a class="loginBtn" href="/register"><input class="loginBtn" type="submit" href="/register" value="REGÍSTRATE"></a>
                </p>
            </p>

        </fieldset>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>