<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav-foot.css">
    <script src="https://kit.fontawesome.com/3a5c03d4d2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bf896e772d.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Righteous&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <header>
        <nav class="principalNav">
            <div class="logo">
            <img class="logoVvape"src="/images/navlogo2.png" alt="">
            </div>
                <ul class="navtitles">
                    <li class="navtitles-access"><i class="fas fa-user-circle"></i><a href="#">Acceso</a></li>
                    <li><i class="fa-solid fa-fire-flame-curved"></i><a href="/product">Productos</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a href="/shoppingcart">Carrito</a></li>
                </ul>
            <i id="burger"class="fa-solid fa-bars navicon"></i>
        </nav>
    </header>
    <!-- FINAL HEADER -->
    <!-- INICIO MAIN -->
    <main>
        <div class="principalForm">
        <form action="login.html" method="post">
            <p class="formTitle">
                Bienvenido de nuevo!
            </p>
            <p>
                <label for="email">Email</label>
            </p>
            <input type="email" id="nombre" name="email">
            <p>
                <label for="password">Contraseña</label>
            </p>
            <input type="password" id="nombre" name="password">
            <p>
            <button type="submit">Enviar</button>
            </p>
        </form>
        </div>
    </main>
    <!-- INICIO FOOTER -->
    <footer class="footerForms">
        <ul class="footTitles">
            <li><a href="#">Terminos y condiciones</a></li>
            <li><a href="#">TLDR 2022</a></li>
            <li><a href="#">VVAPE - DH</a></li>
        </ul>
    </footer>
    <!-- FINAL FOOTER -->
</body>
</html>