<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/formsproduct.css">
    <title>Create product</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main>
        <div class="principalForm">
        <fieldset>
        <form action="newproduct" method="POST">
            <p class="formTitle">
                ¡INGRESA UN NUEVO PRODUCTO!
            </p>
            <div class="flexForm">
                <p>
                    <label for="ID">ID del producto:</label>
                </p>
                <input type="text" id="id" name="id" required autocomplete="on">
                
            <p>
                <label for="nombre">Nombre del producto:</label>
            </p>
            <input type="text" id="nombre" name="nombre" required autocomplete="on">
            <p>
                <label for="descripcion">Descripción:</label>
            </p>
            <input type="text" id="descripcion" name="descripcion" required autocomplete="on">

            <p>
            <label for="imagen">Foto del producto:</label>
            </p>
            <input type="file" id="foto" name="foto" required autocomplete="on" accept=".jpg, .png, .jpeg" >

            <p>
                <label for="categoria">Tipo de producto:</label>
                </p>
                <select name="cantidad" class="control" >
                    <option value="" disabled selected hidden>Selecciona</option>
                    <option value="vapeador">Vapeador</option>
                    <option value="esencia">Esencia</option>
            </select>
            <div class="cantidad">
            <p>
                <label for="categoria">Cantidad disponible:</label>
                </p>
                <input type="text" id="stock" name="stock" required autocomplete="on" inputmode="numeric">
            </div>      
                <div class="priceinfo">
            <p>
            <label class="precio" for="precio">Precio COP:</label>
            </p>
            <input  type="text" id="precio" name="precio" required autocomplete="on" inputmode="numeric">
            </div>

                <div class="buttons">
                <p class="formTitle2">
                    
                <a class="loginBtn"><input class="loginBtn" type="reset" value="Limpiar"></a>
                </p>
                
                <p class="formTitle2">
                <a class="loginBtn" href="/products"><input class="loginBtn" type="submit" href="/products" value="Crear"></a>
                </p>
            </div>
                           
        
        </form>
          
        </fieldset>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>