<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productindex.css">
    <title>VVAPE products</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <!-- INICIO MAIN -->
    <main>
        <section>
        
            <h2> Selecciona tu producto VVAPE favorito </h2>
            <div class="productinf">
            <% visited.forEach(product => {%> 
            <div class="card">
                <a href="/product/1"><img src="/images/vaper-2.jpg" alt="vaper2"></a>
                <div class="cardinfo">
                    <div class="containerP">
                <h4> GEEK VVAPE </h4>
                
            </div>
            <p class="precio"> $150.000 </p>
            </div>
        </div>
            </div>
            <h3> Página 1 de 1 </h3>
          
        </section>          

        </main>
       <!-- FIN MAIN --> 
       <%- include('./partials/footer') %>  
</body>
</html>