<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VVAPE products</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productindex.css">
    <link rel="stylesheet" href="/css/nav-foot.css">
    <script src="https://kit.fontawesome.com/3a5c03d4d2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bf896e772d.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- INICIO HEADER -->
    <header>
        <nav class="principalNav">
            <div class="logo">
                <a href="/index"><img class="logoVvape"src="/images/navlogo2.png" alt="logo"></a>
            </div>
                <ul class="navtitles">
                    <li class="navtitles-access"><i class="fas fa-user-circle"></i><a href="login">Acceso</a></li>
                    <li><i class="fa-solid fa-fire-flame-curved"></i><a href="/productindex">Productos</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a href="/shoppingcart">Carrito</a></li>
                </ul>
            <i id="burger"class="fa-solid fa-bars navicon"></i>
        </nav>
    </header>
    <!-- FINAL HEADER -->
    <!-- INICIO MAIN -->
    <main>
                 
        <section>
        
            <h2> Selecciona tu producto VVAPE favorito </h2>
            <div class="productinf">
                
            
            <div class="card">
                <a href="/product"><img src="/images/vaper-2.jpg" alt="vaper2"></a>
                <div class="cardinfo">
                    <div class="containerP">
                <h4> GEEK VVAPE </h4>
                
            </div>
            <p class="precio"> $150.000 </p>
            </div>
        </div>
        <div class="card">
            <a href="/product2"><img src="/images/vaper-1.jpg" alt="vaper1"></a>
            <div class="cardinfo">
                <div class="containerP">
                    <h4> PRO VVAPE </h4>
            
        </div>
        <p class="precio"> $220.000 </p>
        </div>
    </div>
    
    
            <div class="card">
                <a href="/product3"><img src="/images/vaper-3.jpg" alt="vaper3"></a>
                <div class="cardinfo">
                    <div class="containerP">
                <h4> ULTRA VVAPE </h4>
                
            </div>
            <p class="precio"> $135.000 </p>
                
            </div>
            </div>
        
        
            <div class="card">
                <a href="/product4"><img src="/images/vaper-4.jpg" alt="vaper4"></a>
                <div class="cardinfo">
                    <div class="containerP">
                <h4> SMOOTH VVAPE </h4>
                
            </div>
            <p class="precio"> $150.000 </p>
            </div>
            </div>

            <div class="card">
                <a href="/esencia1"><img src="/images/esencia-1.jpg" alt="esencia1"></a>
                <div class="cardinfo">
                    <div class="containerP">
                        <h4> MENTHOL ORIGINAL</h4>
                
            </div>
            <p class="precio"> $35.500 </p>
                
            </div>
            </div>

            <div class="card">
                <a href="/esencia2"><img src="/images/esencia-2.jpg" alt="esencia2"></a>
                <div class="cardinfo">
                    <div class="containerP">
                        <h4> SLUSHY BLUE </h4>
                            </div>
        
                <p class="precio"> $35.500 </p>
            </div>
            </div>
            <div class="card">
                <a href="/esencia3"><img src="/images/esencia-6.jpg" alt="esencia3"></a>
                <div class="cardinfo">
                    <div class="containerP">
                        <h4> SHERBET CHERRY </h4>
                
            </div>
        
            <p class="precio"> $35.500 </p>
            </div>
            </div>
            <div class="card">
                <a href="/esencia4"><img src="/images/esencia-4.jpg" alt="esencia4"></a>
                <div class="cardinfo">
                    <div class="containerP">
                        <h4> SODA PINEAPPLE CRUSH </h4>
                
            </div>
            <p class="precio"> $35.500 </p>
                
            </div>
            </div>

            </div>
            <h3> Página 1 de 1 </h3>
          
        </section>          

        </main>
       <!-- FIN MAIN --> 
      <!-- INICIO FOOTER -->
   <footer>
    <ul class="footTitles">
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Digital House 2022</a></li>
        <li><a href="#">VVAPE - DH</a></li>
    </ul>
</footer>
<!-- FINAL FOOTER -->    
            
</body>
</html>