<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <title>Registro</title>
</head>
<body>
    <!-- INICIO HEADER -->
    <header>
        <nav class="principalNav">
            <div class="logo">
            <a href="/index"><img class="logoVvape"src="/images/navlogo2.png" alt="logo"></a>
            </div>
                <ul class="navtitles">
                    <li class="navtitles-access"><i class="fas fa-user-circle"></i><a class="navLink" href="/login">Acceso</a></li>
                    <li><i class="fa-solid fa-fire-flame-curved"></i><a class="navLink" href="/productindex">Productos</a></li>
                    <li><i class="fas fa-shopping-cart"></i><a class="navLink" href="/shoppingcart">Carrito</a></li>
                </ul>
            <i id="burger"class="fa-solid fa-bars navicon"></i>
        </nav>
    </header>
    <!-- FINAL HEADER -->
    <!-- INICIO MAIN -->
    <main>
        <div class="principalForm">
        <form class="registerForm" action="login.html" method="post">
            <p class="formTitle">
                CREA TU CUENTA VVAPE
            </p>
            <p>Te damos la bienvenida a la familia VVAPE</p>
        <fieldset class="registerF">
            <p>Ingresa tu fecha de nacimiento:</p>
            <input type="date" name="date" id="date" value="" autocomplete="off" min="2004-09-04" placeholder="DD MM YYYY" aria-required="true" required>
            <p>
                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre" required autocomplete="on">        
            </p>
            <p>
                <label for="email">Email:</label><br>
                <input type="email" id="nombre" name="email" required autocomplete="on">
            </p>
            <p>
                <label for="password">Contraseña:</label><br>
                <input type="password" id="nombre" name="password" required autocomplete="on">
            </p>
            <p>
                <label for="password">Confirmar contraseña:</label><br>
                <input type="password" id="nombre" name="password" required autocomplete="on">
            </p>
            <p>
                Declaro ser mayor de edad! <br><input type="checkbox" name="check" id="check" required>
            </p>
            <p>
                <a class="loginBtn" href="/register"><input class="loginBtn" type="submit" href="/register" value="REGÍSTRATE"></a>
                </p>
            </p>
        </fieldset>
        </form>
        </div>
    </main>
    <!-- INICIO FOOTER -->
    <footer>
        <ul class="footTitles">
            <li><a href="#">Términos y condiciones</a></li>
            <li><a href="#">Digital House 2022</a></li>
            <li><a href="#">VVAPE - DH</a></li>
        </ul>
    </footer>
    <!-- FINAL FOOTER -->
</body>
</html>