.footerForms{
    height: 10vh;
    background-color: #151f28;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
}

footer{
    height: 10vh;
    background-color: #151f28;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between; 
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a{
    list-style: none;
    text-decoration: none;
    color: #f0f0f0;
    font-family: 'Nunito';
}

.footTitles{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.footTitles li{
    margin-left: auto;
    margin-right: auto;
    list-style:none;
    padding-left: 20px;
    
}

form{
    font-family: 'Nunito';
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.principalForm{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.formTitle{
    font-family: 'Righteous';
}