nav a{
    list-style: none;
    text-decoration: none;
    color: #f0f0f0;
}

nav{
    background-color: #151f28;
    color: #f0f0f0;
    font-family: 'Nunito';
}
.logoVvape{
    width: 15vw;
}

.principalNav{
    display: flex;
}

@media (max-width: 362px){
    .navtitles{
        display: none;
    }
    .principalNav{
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 362px) and (max-width: 769px){
    .navtitles{
        display: none;
    }
    .principalNav{
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 770px){
    #burger{
        display: none;
    }
    .principalNav{
        display: flex;
        justify-content: space-between;
    }
    .navtitles{
        display: flex;
        padding: auto;
        align-items: center;
    }
    .navtitles li{
        padding-left: 50px;
        list-style: none;
    }
}

#burger{
    font-weight: 900;
    align-items: center;
    justify-content: center;
    margin: auto 5%;
}


footer{
    height: 10vh;
    background-color: #151f28;
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a{
    list-style: none;
    text-decoration: none;
    color: #f0f0f0;
    font-family: 'Nunito';
}

.footTitles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.footTitles li{
    margin-left: auto;
    margin-right: auto;
    list-style:none;
    padding-left: 20px;
    
}